.help-icons {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  align-items: end;
  padding-right: 8px;
  position: fixed;
  bottom: 120px;
  right: 0;
}

.help-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #174289;
  padding: .5rem;
  border-radius: 50px;
  width: 35px;
  height: 35px;
}

.help-icon img {
  width: 100%;
  height: auto;
}
